<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ backup_launchd_label }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{ backup_script_path }}</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{ backup_schedule_hour }}</integer>
        <key>Minute</key>
        <integer>{{ backup_schedule_minute }}</integer>
    </dict>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ ansible_facts['env']['HOME'] }}</string>
        <key>PATH</key>
        <string>{{ homebrew_prefix }}/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>{{ ansible_facts['env']['HOME'] }}</string>

    <key>StandardOutPath</key>
    <string>{{ backup_log_file }}</string>

    <key>StandardErrorPath</key>
    <string>{{ backup_log_file }}</string>

    <key>RunAtLoad</key>
    <false/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>Nice</key>
    <integer>5</integer>
</dict>
</plist>
