# ==============================================================================
# Grafana dashboard provisioning (Docker stack)
# Vygenerováno Ansible – ruční úpravy budou přepsány
# ==============================================================================

apiVersion: 1

providers:
  - name: 'Community Dashboards'
    orgId: 1
    folder: 'Mac Studio'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /var/lib/grafana/dashboards
      foldersFromFilesStructure: false
